// libraries
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

// base
@import 'variables'

// components

body 
  background-image: url('../images/prism.png');
  font-family: 'Abril Fatface', cursive;

#header
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  min-height: 150px;
  margin-bottom: 15px;

#header h1
  font-size: 110px;
  font-family: 'Stalemate', cursive;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;

#header a, #header a:hover
    color: white;
    text-decoration: none;
    cursor: auto;

.bookItemClass
    padding-bottom: 15px;

.badge
 margin-right: 5px;

.footer
 padding-top: 20px;
 color: white;

.booksCounter
  color: white;

.bookimg
    margin-right: 20px;