// libraries
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

// base
@import 'variables'

// components

body 
  background-image: url('../images/gray_sand.png');
  font-family: 'Abril Fatface', cursive;
  overflow-y: scroll;


#header
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  min-height: 9.375rem;
  margin-bottom: 0.9375rem;

#footer
  background-color: white;

#app 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

#pagecontent 
  min-height: calc(100vh - 165px - 38px);
  display: flex;
  flex-direction: column;


#header h1
  font-size: 6.875rem;
  font-family: 'Stalemate', cursive;
  text-align: center;
  vertical-align: middle;
  padding-top: 0.3125rem;

#header a, #header a:hover
    color: white;
    text-decoration: none;
    cursor: pointer;
    outline: none;

#contactBtn
  padding: 0.25rem;
  margin-top: 0.125rem;

.bookItemClass
    padding-bottom: 0.9375rem;

.badge
 margin-right: 0.3125rem;

.footer
 padding-top: 1.25rem;
 color: white;

.booksCounter
  color: white;

.bookimg
    margin-right: 1.25rem;

.bookFullPage
    background-color: white;
    color: black;

.footer-text
  display: block;
  height: 2.375rem;
  padding: 0.5rem 0;